# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# dotenv environment variables
.env

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/

# Test coverage
coverage/

# Misc
*.pid
*.seed
